* {
	margin: 0;
	padding: 0;
}
html, body {
	height: 100%;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif
}
/* HEADER */
div#header {
	background-color: black;
	padding: 5px 0px 0px 5px;
}
div#header * {
	color: white;
	display: inline;
}
div#header h2 {
	font-size: 1.17em;
}
div#header h3 {
	font-size: 1.15em;
	font-weight: normal;
}
/* MENU */
div#header > ul.menu {
	padding: 13px 0;
	float: right;
}
ul.menu a,
ul.menu a:link,
ul.menu a:visited {
	text-decoration: none;
	color: #ccc;
	padding: 5px 10px 5px 10px;
	background-color: #222;
}
ul.menu a:hover {
	color: white;
	background-color: #333;
}

ul.menu a:active {
	color: #aaa;
}
/* CONTENT */
div#content {
	height: 70%; /* TODO: FIX */
	padding: 0 20px 20px 10px;
}
div#content > .section {
	display: none;
	height: 100%;
}
div#content h2,
div#content h3 {
	margin: 15px 5px;
}
div#content p {
	margin: 1px 0 0 5px;
}
div#content a:link,
div#content a:visited {
	font-weight: bold;
	color: #000;
}
div#content a:hover {
	font-weight: bold;
	color: #666;
}

div#content a:active {
	font-weight: bold;
	color: #000;
}
/* TOOL */
div#toolSection > form#source {
	height: 100%;
}
div#toolSection > form#source textarea {
	width: 100%;
	height: 100%;
	padding: 3px 3px 3px 4px;
}
div#toolSection > p#dest {
	padding: 0px 10px 10px 10px;
}
/* WORD STYLES */
.knownWord {
	cursor: pointer;
}
.unknownWord {
	color: #a00;
	border-bottom: 1px dotted #a00;
}
.foreignWord {
	cursor: pointer;
	color: #460;
}
/* TOOLTIP STYLES */
.type {
	font-size: 0.9em;
	font-style: italic;
}
.meaningList {
	padding-left: 0.7em;
}
.meaning {
}
/* STYLING */
.auto-tokipona {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 50px;
  padding-left: 15px;
  border-left: 3px solid #ccc;
}
#content ul:not(.nobullet),
#content ol:not(.nobullet) {
	list-style-type: square;
	padding-left: 20px;
}
ul.nobullet,
ol.nobullet {
	list-style-type: none;
}
#content li {
	margin-left: 10px;
}
input[type="radio"] {
	margin-right: 5px;
}