* {
	margin: 0;
	padding: 0;
}
html, body {
	height: 100%;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif
}
blockquote {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 50px;
  padding-left: 15px;
  border-left: 3px solid #ccc;
} 
.bold {
	font-weight: bold;
}
ul, ol {
	list-style-type: square;
	padding-left: 20px;
}
li {
	margin-left: 10px;
}
/* HEADER */
div#header {
	background-color: black;
	padding: 5px 5px 0px 5px;
}
div#header > * {
	color: white;
	display: inline;
}
div#menu {
	padding: 15px 7px 0px 0px;
	float: right;
}
/* CONTENT */
div#content {
	height: 70%; /* TODO: FIX */
	padding: 10px 20px 20px 10px;
}
div#content h2,
div#content h3 {
	margin: 15px 5px;
}
div#content p {
	margin: 1px 0 0 5px;
}
.section {
	display: none;
	height: 100%;
}
/* TOOL */
form#source {
	height: 100%;
}
form#source textarea {
	width: 100%;
	height: 100%;
	padding: 3px 3px 3px 4px;
}
p#dest {
	padding: 0px 10px 10px 10px;
}
/* LINKS */
a.dark, a.dark:link, a.dark:visited {
	font-weight: bold;
	color: #000;
}
a.dark:hover {
	font-weight: bold;
	color: #666;
}

a.dark:active {
	font-weight: bold;
	color: #000;
}
a.light, a.light:link, a.light:visited {
	font-weight: bold;
	color: #ccc;
}
a.light:hover {
	font-weight: bold;
	color: white;
}

a.light:active {
	font-weight: bold;
	color: #aaa;
}
/* WORD STYLES */
.knownWord {
	cursor: pointer;
}
.unknownWord {
	color: #a00;
	border-bottom: 1px dotted #a00;
}
.foreignWord {
	cursor: pointer;
	color: #460;
}
/* TOOLTIP STYLES */
.type {
	font-size: 0.9em;
	font-style: italic;
}
.meaningList {
	padding-left: 0.7em;
}
.meaning {
}